astropy==6.0.0
django==5.0.8
numpy==1.26.4
psycopg2-binary==2.9.9
pygedm==3.3.0
python-dotenv==1.0.1
requests==2.32.0
scipy==1.12.0
uwsgi==2.0.24
spiceypy==6.0.0
pillow==10.4.0
pandas==2.2.3
plotly==5.24.1
