table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

tr.disabled {
    opacity: 0.4;
}

tr:nth-child(even), tr:nth-child(even) button, tr:nth-child(even) input {
    background-color: #f2f2f2;
}

tr:nth-child(odd), tr:nth-child(odd) button, tr:nth-child(odd) input {
    background-color: #fff;
}

tr:hover, .btn-fa:hover, tr:hover button, tr:hover input {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4C50AF;
    color: white;
}

.galactic-map {
    position: relative;
    display: inline-block; /* shrinks container to image size */
    width: 800px;
    max-width: 90%;
}

.galactic-map img {
    display: block;
    width: 100%;
    height: auto;
}

.galactic-map svg {
    position: absolute;
    top: 0;
    left: 0;
}

