table.parameter-set {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table.parameter-set th, td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

table.parameter-set td, th {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

table.parameter-set tr.disabled {
    opacity: 0.4;
}

table.parameter-set tr:nth-child(even), tr:nth-child(even) button, tr:nth-child(even) input {
    background-color: #f2f2f2;
}

table.parameter-set tr:nth-child(odd), tr:nth-child(odd) button, tr:nth-child(odd) input {
    background-color: #fff;
}

table.parameter-set tr:hover, .btn-fa:hover, tr:hover button, tr:hover input {
    background-color: #ddd;
}

table.parameter-set th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4C50AF;
    color: white;
}

.login-form {
    width: 500px;
    max-width: 100%;
    margin: 50px auto;
    padding: 30px;
    background-color: #ccc;
}

.login-form table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.login-form td {
    background-color: #ccc;
    border: 0;
}

.login-form #login-button {
    border: 0;
    padding: 10px;
    margin: 5px 5px auto;
    cursor: pointer;
}

.galactic-map {
    position: relative;
    display: inline-block; /* shrinks container to image size */
    width: 800px;
    max-width: 90%;
}

.galactic-map img {
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

.galactic-map svg {
    position: absolute;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    background-color: black;
    color: white;
}

.navmenu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 43px;
}

.navmenu-item {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid white;
    cursor: pointer;
    background-color: black;
    color: white;
}

.navmenu-item:hover {
    background-color: #333;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
}

.navbar-item {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
}

/* From: https://a11y-guidelines.orange.com/en/articles/accessible-hiding/ */
.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
