{% extends "published/main.html" %}

{% load static %}

{% block body %}

<h1>Folding on {{ ulp }} (ToA view)</h1>

<h2>Working ephemeris</h2>

<form method="post" action="{% url 'update_working_ephemeris' pk=ulp.pk %}">
  {% csrf_token %}
  <div class="compact-form-item">
    <label for="pepoch">PEPOCH (MJD)</label>
    <input id="pepoch" name="pepoch" type="number" step="any" value="{{ working_ephemeris.pepoch|default_if_none:'' }}" onchange="update_ephemeris_value(this, {{ working_ephemeris.pepoch|default_if_none:'' }});"/>
    <label id="pepoch_err">± {{ working_ephemeris.pepoch_err|default_if_none:'' }}</label>
  </div>
  <div class="compact-form-item">
    <label for="p0">Rotational period (s)</label>
    <input id="p0" name="p0" type="number" step="any" value="{{ working_ephemeris.p0|default_if_none:'' }}" onchange="update_ephemeris_value(this, {{ working_ephemeris.p0|default_if_none:'' }});"/>
    <label id="p0_err">± {{ working_ephemeris.p0_err|default_if_none:'' }}</label>
  </div>
  <div class="compact-form-item" hidden>
    <label for="p1">Rotational period derivative (s/s)</label>
    <input id="p1" name="p1" type="number" step="any" value="{{ working_ephemeris.p1|default_if_none:'' }}" onchange="update_ephemeris_value(this, {{ working_ephemeris.p1|default_if_none:'' }});" disabled/>
    <label id="p1_err">± {{ working_ephemeris.p1_err|default_if_none:'' }}</label>
  </div>
  <div class="compact-form-item">
    <label for="pb">Orbital period (h)</label>
    <input id="pb" name="pb" type="number" step="any" value="{{ working_ephemeris.pb|default_if_none:'' }}" onchange="update_ephemeris_value(this, {{ working_ephemeris.pb|default_if_none:'' }});"/>
    <label id="pb_err">± {{ working_ephemeris.pb_err|default_if_none:'' }}</label>
  </div>
  <div class="compact-form-item">
    <label for="dm">Dispersion measure (pc/cm^3)</label>
    <input id="dm" name="dm" type="number" step="any" value="{{ working_ephemeris.dm|default_if_none:'' }}" onchange="update_ephemeris_value(this, {{ working_ephemeris.dm|default_if_none:'' }});"/>
    <label id="dm_err">± {{ working_ephemeris.dm_err|default_if_none:'' }}</label>
  </div>
  <div class="compact-form-item">
    <label for="spec_alpha">Spectrum: &alpha;</label>
    <input id="spec_alpha" name="spec_alpha" type="number" step="any" value="{{ working_ephemeris.spec_alpha|default_if_none:'' }}" onchange="toggle_scale_flux_disabled(); update_ephemeris_value(this, {{ working_ephemeris.spec_alpha|default_if_none:'' }});"/>
    <label id="spec_alpha_err">± {{ working_ephemeris.spec_alpha_err|default_if_none:'' }}</label>
  </div>
  <div class="compact-form-item">
    <label for="spec_q">Spectrum: q</label>
    <input id="spec_q" name="spec_q" type="number" step="any" placeholder="0.0" value="{{ working_ephemeris.spec_q|default_if_none:'' }}" onchange="toggle_scale_flux_disabled(); update_ephemeris_value(this, {{ working_ephemeris.spec_q|default_if_none:'' }});"/>
    <label id="spec_q_err">± {{ working_ephemeris.spec_q_err|default_if_none:'' }}</label>
  </div>
  <input id="covariance_list" name="covariance_list" value="{{ fit.working_ephemeris.covariance|default_if_none:'' }}" hidden/>
  <input type="submit" value="Update"/>
  <button type="button" onclick="reset_working_ephemeris(); redraw_plot();">Reset</button>
</form>

<h2>Timing plot</h2>

<fieldset>

  <label for="xaxis">X-axis:</label>
  <select id="xaxis" name="xaxis" onchange="redraw_plot();">
    <option value="pulses_sequential" selected>Sequential pulse numbers (0, 1, 2, ...)</option>
    <option value="pulses_chronological">Chronological pulses numbers (relative to PEPOCH)</option>
    <option value="rotation_phase">Rotation phase</option>
    <option value="orbital_phase">Orbital phase</option>
    <option value="ampl">Fitted ToA amplitudes (Jy)</option>
  </select>

  <br>

  <label for="yaxis">Y-axis:</label>
  <select id="yaxis" name="yaxis" onchange="redraw_plot();">
    <option value="pulses_sequential">Sequential pulse numbers (0, 1, 2, ...)</option>
    <option value="pulses_chronological">Chronological pulses numbers (relative to PEPOCH)</option>
    <option value="rotation_phase" selected>Rotation phase</option>
    <option value="orbital_phase">Orbital phase</option>
    <option value="ampl">Fitted ToA amplitudes (Jy)</option>
  </select>

  <br>

  <input type="checkbox" id="log_xaxis" onchange="redraw_plot();"/>
  <label for="xaxis-log">Log x-axis</label>

  <br>

  <input type="checkbox" id="log_yaxis" onchange="redraw_plot();"/>
  <label for="yaxis-log">Log y-axis</label>

  <br>

  <input type="checkbox" id="fit_visible" onchange="redraw_plot();"/>
  <label for="fit_visible">Best fit ephemeris</label>
  <button onclick="apply_fit();">Apply</button>

</fieldset>

<div id='residuals'>
</div>

<script>

  var data = {{ data | safe }};
  //var fitted_data = {{ fit.data | safe }};

  function prepare_data(data) {
    var xaxis      = document.getElementById('xaxis').value;
    var yaxis      = document.getElementById('yaxis').value;

    var pepoch = document.getElementById('pepoch').value;
    var period = document.getElementById('p0').value;
    var p1     = document.getElementById('p1').value;
    var pb     = document.getElementById('pb').value * 3600.0; // Convert to seconds
    var dm     = document.getElementById('dm').value;

    toas = fold(Array.from(data, (d) => d.toa_mjd), pepoch, period);

    pulses_sequential = Array.from(toas.pulses, (_, i) => i);
    pulses_chronological = toas.pulses;
    include_in_fit = Array.from(data, (d) => d.include_in_fit == "true");

    var x, y, x_err, y_err;

    if (xaxis == 'rotation_phase') {
      x = toas.phases;
      x_err = data.map((d) => d.toa_err_s/period);
    } else if (xaxis == 'orbital_phase') {
      x = fold(Array.from(data, (d) => d.toa_mjd), pepoch, pb).phases;
      x_err = data.map((d) => d.toa_err_s/pb);
    } else if (xaxis == "pulses_chronological") {
      x = pulses_chronological;
      x_err = undefined;
    } else if (xaxis == "pulses_sequential") {
      x = pulses_sequential;
      x_err = undefined;
    } else if (xaxis == "ampl") {
      x = Array.from(data, (d) => d.ampl);
      x_err = Array.from(data, (d) => d.ampl_err);
    }

    if (yaxis == 'rotation_phase') {
      y = toas.phases;
      y_err = data.map((d) => d.toa_err_s/period);
    } else if (yaxis == 'orbital_phase') {
      y = fold(Array.from(data, (d) => d.toa_mjd), pepoch, pb).phases;
      y_err = data.map((d) => d.toa_err_s/pb);
    } else if (yaxis == "pulses_chronological") {
      y = pulses_chronological;
      y_err = undefined;
    } else if (yaxis == "pulses_sequential") {
      y = pulses_sequential;
      y_err = undefined;
    } else if (yaxis == "ampl") {
      y = Array.from(data, (d) => d.ampl);
      y_err = Array.from(data, (d) => d.ampl_err);
    }

    return {
      pulses_sequential: pulses_sequential,
      pulses_chronological: pulses_chronological,
      x: x,
      y: y,
      fit_x: x.filter((_, i) => include_in_fit[i]),
      fit_y: y.filter((_, i) => include_in_fit[i]),
      nofit_x: x.filter((_, i) => !include_in_fit[i]),
      nofit_y: y.filter((_, i) => !include_in_fit[i]),
      error_x: {array: x_err},
      error_y: {array: y_err},
      fit_x_err: typeof x_err !== "undefined" ? x_err.filter((_, i) => include_in_fit[i]) : undefined,
      fit_y_err: typeof y_err !== "undefined" ? y_err.filter((_, i) => include_in_fit[i]) : undefined,
      nofit_x_err: typeof x_err !== "undefined" ? x_err.filter((_, i) => !include_in_fit[i]) : undefined,
      nofit_y_err: typeof y_err !== "undefined" ? y_err.filter((_, i) => !include_in_fit[i]) : undefined,
      mode: 'markers',
      type: 'scatter',
      hovertemplate: data.map((d, i) => "ToA #" + pulses_chronological[i] + "<br>" +
        "MJD: " + d.toa_mjd + "<br>" +
        "<extra></extra>"),
    };
  }

  var layout = get_plotly_default_layout();

  function update_layout() {
    layout.yaxis = {
      title: {
        text: document.getElementById('yaxis').options[document.getElementById('yaxis').selectedIndex].text, // FIX ME!
      },
      type: document.getElementById('log_yaxis').checked ? 'log' : '-',
    };
    layout.xaxis = {
      title: {
        text: document.getElementById('xaxis').options[document.getElementById('xaxis').selectedIndex].text, // FIX ME!
      },
      type: document.getElementById('log_xaxis').checked ? 'log' : '-',
      tickformat: 'f',
    };
    //console.log(layout.coloraxis);
  }

  var folded_data;
  function redraw_plot() {
    folded_data = prepare_data(data);
      plots = [];

    if (!document.getElementById("fit_visible").checked) {
      folded_data.name = "ToAs";
      plots.push(folded_data);
    } else {
      //let folded_fit = prepare_data(fitted_data);
      folded_fit.name = "Fit";
      folded_fit.mode = "lines";
      folded_fit.opacity = 0.5;
      plots.push(folded_fit);

      /*
      // Show the points being/not being fitted in different colors
      let fit_folded_data = structuredClone(folded_data);
      fit_folded_data.x = fit_folded_data.fit_x;
      fit_folded_data.y = fit_folded_data.fit_y;
      fit_folded_data.error_x = {array: fit_folded_data.fit_x_err};
      fit_folded_data.error_y = {array: fit_folded_data.fit_y_err};
      fit_folded_data.name = "Fitted ToAs";
      plots.push(fit_folded_data);

      let nofit_folded_data = structuredClone(folded_data);
      nofit_folded_data.x = nofit_folded_data.nofit_x;
      nofit_folded_data.y = nofit_folded_data.nofit_y;
      nofit_folded_data.error_x = {array: nofit_folded_data.nofit_x_err};
      nofit_folded_data.error_y = {array: nofit_folded_data.nofit_y_err};
      nofit_folded_data.name = "Not-fitted ToAs";
      plots.push(nofit_folded_data);
      */
    }

    update_layout();
    console.log("Redrawing...");
    Plotly.react('residuals', plots, layout);
  }
  redraw_plot();
  //console.log(folded_data);

  function update_ephemeris_value(element, orig_value) {
    if (element.value != orig_value) {
      element.style.backgroundColor = "#880";
    } else {
      element.style.backgroundColor = "field";
    }
    redraw_plot();
  }

  plotDiv = document.getElementById('residuals');
  plotDiv.on('plotly_click', function(d) {
    window.location.href = data[d.points[0].pointIndex].link;
  });

  function toggle_lightcurve_visibility(checkbox) {
    folded_data.forEach((d) => {
      d.visible = checkbox.checked;
    });
    Plotly.react('residuals', folded_data, layout);
  }

  function toggle_pulses_visibility(checkbox) {
    layout.shapes.forEach((s) => {
      s.visible = checkbox.checked;
    });
    Plotly.react('residuals', folded_data, layout);
  }

  // Define behaviour of "reset working ephemeris" button
  function reset_working_ephemeris() {
    document.getElementById('pepoch').value = "{{ working_ephemeris.pepoch|default_if_none:'' }}";
    document.getElementById('p0').value = "{{ working_ephemeris.p0|default_if_none:'' }}";
    document.getElementById('p1').value = "{{ working_ephemeris.p1|default_if_none:'' }}";
    document.getElementById('pb').value = "{{ working_ephemeris.pb|default_if_none:'' }}";
    document.getElementById('dm').value = "{{ working_ephemeris.dm|default_if_none:'' }}";
    document.getElementById('spec_alpha').value = "{{ working_ephemeris.spec_alpha|default_if_none:'' }}";
    document.getElementById('spec_q').value = "{{ working_ephemeris.spec_q|default_if_none:'' }}";

    document.getElementById('pepoch').style.backgroundColor = "field";
    document.getElementById('p0').style.backgroundColor = "field";
    document.getElementById('p1').style.backgroundColor = "field";
    document.getElementById('pb').style.backgroundColor = "field";
    document.getElementById('dm').style.backgroundColor = "field";
    document.getElementById('spec_alpha').style.backgroundColor = "field";
    document.getElementById('spec_q').style.backgroundColor = "field";
  }

  // Define the function to "apply" the fitted ephemeris, which only means
  // replacing the working ephemeris loaded in memory (and displayed in the form)
  // with the fitted values.
  function apply_fit() {
    {% if fit.working_ephemeris.pepoch != working_ephemeris.pepoch %}
    var element = document.getElementById('pepoch');
    element.value = "{{ fit.working_ephemeris.pepoch|default_if_none:'' }}";
    element.style.backgroundColor = "#880";
    {% endif %}

    {% if fit.working_ephemeris.p0 != working_ephemeris.p0 %}
    element = document.getElementById('p0');
    element.value = "{{ fit.working_ephemeris.p0|default_if_none:'' }}";
    element.style.backgroundColor = "#880";
    {% endif %}

    redraw_plot();
  }

</script>

{% endblock %}
