{% extends "published/main.html" %}

{% load static %}

{% block body %}

<h1>Folding on {{ ulp }}</h1>

<h2>Working ephemeris</h2>

<form method="post" action="{% url 'update_working_ephemeris' pk=ulp.pk %}">
  {% csrf_token %}
  <div class="compact-form-item">
    <label for="pepoch">PEPOCH (MJD)</label>
    <input id="pepoch" name="pepoch" type="number" step="any" value="{{ working_ephemeris.pepoch|default_if_none:'' }}" onchange="redraw_plot();"/>
  </div>
  <div class="compact-form-item">
    <label for="p0">Rotational period (s)</label>
    <input id="p0" name="p0" type="number" step="any" value="{{ working_ephemeris.p0|default_if_none:'' }}" onchange="redraw_plot();"/>
  </div>
  <div class="compact-form-item">
    <label for="p1">Rotational period derivative (s/s) (not yet implemented)</label>
    <input id="p1" name="p1" type="number" step="any" value="{{ working_ephemeris.p1|default_if_none:'' }}" onchange="redraw_plot();" disabled/>
  </div>
  <div class="compact-form-item">
    <label for="pb">Orbital period (h)</label>
    <input id="pb" name="pb" type="number" step="any" value="{{ working_ephemeris.pb|default_if_none:'' }}" onchange="redraw_plot();"/>
  </div>
  <div class="compact-form-item">
    <label for="dm">Dispersion measure (pc/cm^3)</label>
    <input id="dm" name="dm" type="number" step="any" value="{{ working_ephemeris.dm|default_if_none:'' }}" onchange="redraw_plot();"/>
  </div>
  <div class="compact-form-item">
    <label for="tausc_1GHz">Scattering timescale at 1 GHz (s)</label>
    <input id="tausc_1GHz" name="tausc_1GHz" type="number" step="any" value="{{ working_ephemeris.tausc_1GHz|default_if_none:'' }}" onchange="redraw_plot();"/>
  </div>
  <div class="compact-form-item">
    <label for="spec_alpha">Spectrum: &alpha;</label>
    <input id="spec_alpha" name="spec_alpha" type="number" step="any" value="{{ working_ephemeris.spec_alpha|default_if_none:'' }}" onchange="toggle_scale_flux_disabled(); dredraw_plot();"/>
  </div>
  <div class="compact-form-item">
    <label for="spec_q">Spectrum: q</label>
    <input id="spec_q" name="spec_q" type="number" step="any" placeholder="0.0" value="{{ working_ephemeris.spec_q|default_if_none:'' }}" onchange="toggle_scale_flux_disabled(); redraw_plot();"/>
  </div>
  <input type="submit" value="Update"/>
  <button type="button" onclick="reset_working_ephemeris(); redraw_plot();">Reset</button>
</form>

<h2>Pulsestack</h2>

<fieldset>

  <label for="xaxis">X-axis:</label>
  <select id="xaxis" name="xaxis" onchange="redraw_plot();">
    <option value="pulses_sequential" selected>Sequential pulse numbers (0, 1, 2, ...)</option>
    <option value="pulses_chronological">Chronological pulses numbers (relative to PEPOCH)</option>
    <option value="rotation_phase">Rotation phase</option>
    <option value="orbital_phase">Orbital phase</option>
    <option value="peak_Jy">Peak flux density (Jy)</option>
    <option value="frequency">Frequency</option>
  </select>

  <br>

  <label for="yaxis">Y-axis:</label>
  <select id="yaxis" name="yaxis" onchange="redraw_plot();">
    <option value="pulses_sequential">Sequential pulse numbers (0, 1, 2, ...)</option>
    <option value="pulses_chronological">Chronological pulses numbers (relative to PEPOCH)</option>
    <option value="rotation_phase" selected>Rotation phase</option>
    <option value="orbital_phase">Orbital phase</option>
    <option value="peak_Jy">Peak flux density (Jy)</option>
    <option value="frequency">Frequency (MHz)</option>
  </select>

  <br>

  <input type="checkbox" id="log_xaxis" onchange="redraw_plot();"/>
  <label for="xaxis-log">Log x-axis</label>

  <br>

  <input type="checkbox" id="log_yaxis" onchange="redraw_plot();"/>
  <label for="yaxis-log">Log y-axis</label>

  <br>

  <div id="scale_fluxes">
    <input type="checkbox" id="scale_fluxes_checkbox" onchange="redraw_plot();"/>
    <label for="scale_fluxes_checkbox">Scale fluxes to</label>
    <input type="number" step="any" id="scale_fluxes_freq_MHz" value="1000" onchange="redraw_plot();"/>
    <label for="scale_fluxes_freq_MHz">MHz</label>
  </div>

</fieldset>

<div id='residuals'>
</div>

<script>

  var data = {{ data | safe }};

  function prepare_data() {
    var xaxis      = document.getElementById('xaxis').value;
    var yaxis      = document.getElementById('yaxis').value;

    var pepoch = document.getElementById('pepoch').value
    var period = document.getElementById('p0').value
    var p1     = document.getElementById('p1').value
    var pb     = document.getElementById('pb').value * 3600.0; // Convert to seconds
    var dm     = document.getElementById('dm').value
    var tausc_1GHz = document.getElementById('tausc_1GHz').value

    lightcurve_ctrs = fold(Array.from(data, (d) => d.mjd_ctr), pepoch, period,
      {{ working_ephemeris.dm }}, tausc_1GHz,
      Array.from(data, (d) => d.freq_MHz)
    );

    pulses_sequential = Array.from(lightcurve_ctrs.pulses, (_, i) => i);
    pulses_chronological = lightcurve_ctrs.pulses;

    freqs = Array.from(data, (d) => d.freq_MHz);

    // A function for determining whether the fluxes should be scaled or not
    function is_scale_fluxes() {
      checkbox = document.getElementById("scale_fluxes_checkbox");
      return (checkbox.disabled == false && checkbox.checked);
    }

    var x, y, x_err, y_err;

    if (xaxis == 'rotation_phase') {
      x = lightcurve_ctrs.phases;
      x_err = data.map((d) => d.mjd_radius*86400/period);
    } else if (xaxis == 'orbital_phase') {
      x = fold(Array.from(data, (d) => d.mjd_ctr), pepoch, pb,
        {{ working_ephemeris.dm }}, tausc_1GHz,
        Array.from(data, (d) => d.freq_MHz)
      ).phases;
      x_err = data.map((d) => d.mjd_radius*86400/pb);
    } else if (xaxis == "pulses_chronological") {
      x = pulses_chronological;
      x_err = undefined;
    } else if (xaxis == "pulses_sequential") {
      x = pulses_sequential;
      x_err = undefined;
    } else if (xaxis == "peak_Jy") {
      if (is_scale_fluxes()) {
        alpha = parseFloat(document.getElementById("spec_alpha").value);
        q = parseFloat(document.getElementById("spec_q").value);
        freq_target_MHz = parseFloat(document.getElementById("scale_fluxes_freq_MHz").value);
        x = Array.from(data, (d) => scale_flux(d.freq_MHz, d.peak_value_Jy, freq_target_MHz, alpha, q));
      } else {
        x = Array.from(data, (d) => d.peak_value_Jy);
      }
      x_err = undefined;
    } else if (xaxis == "frequency") {
      x = freqs;
      x_err = undefined;
    }

    if (yaxis == 'rotation_phase') {
      y = lightcurve_ctrs.phases;
      y_err = data.map((d) => d.mjd_radius*86400/period);
    } else if (yaxis == 'orbital_phase') {
      y = fold(Array.from(data, (d) => d.mjd_ctr), pepoch, pb,
        {{ working_ephemeris.dm }}, tausc_1GHz,
        Array.from(data, (d) => d.freq_MHz)
      ).phases;
      y_err = data.map((d) => d.mjd_radius*86400/pb);
    } else if (yaxis == "pulses_chronological") {
      y = pulses_chronological;
      y_err = undefined;
    } else if (yaxis == "pulses_sequential") {
      y = pulses_sequential;
      y_err = undefined;
    } else if (yaxis == "peak_Jy") {
      if (is_scale_fluxes()) {
        alpha = parseFloat(document.getElementById("spec_alpha").value);
        q = parseFloat(document.getElementById("spec_q").value);
        freq_target_MHz = parseFloat(document.getElementById("scale_fluxes_freq_MHz").value);
        y = Array.from(data, (d) => scale_flux(d.freq_MHz, d.peak_value_Jy, freq_target_MHz, alpha, q));
      } else {
        y = Array.from(data, (d) => d.peak_value_Jy);
      }
      y_err = undefined;
    } else if (yaxis == "frequency") {
      y = freqs;
      y_err = undefined;
    }

    return [{
      pulses_sequential: pulses_sequential,
      pulses_chronological: pulses_chronological,
      x: x,
      y: y,
      freqs: freqs,
      error_x: {
        array: x_err,
        color: 'white',
        thickness: 1,
      },
      error_y: {
        array: y_err,
        color: 'white',
        thickness: 1,
      },
      mode: 'markers',
      type: 'scatter',
      marker: {
        size: 5,
        color: freqs,
        coloraxis: 'coloraxis',
      },
      hovertemplate: data.map((d, i) => "Ephemeris pulse #" + pulses_chronological[i] + "<br>" +
        "Date: " + d.date + "<br>" +
        "Telescope: " + d.telescope + "<br>" +
        "Frequency: " + d.freq_MHz + " MHz" +
        "<extra></extra>"),
    }];
  }

  var layout = get_plotly_default_layout();

  function update_layout() {
    layout.showlegend = false;
    layout.coloraxis = {
      cmin: {{ freq_range.min }},
      cmax: {{ freq_range.max }},
      colorbar: {
        title: {text: "Frequency (MHz)"},
        ticks: "outside",
        tickcolor: "rgb(222,226, 230)",
      },
      colorscale: Array.from({length: 11}, (_, i) => i/10).map((f) => [f, freq_color(f, 0, 1)]),
    };
    layout.yaxis = {
      title: {
        text: document.getElementById('yaxis').options[document.getElementById('yaxis').selectedIndex].text, // FIX ME!
      },
      type: document.getElementById('log_yaxis').checked ? 'log' : '-',
    };
    layout.xaxis = {
      title: {
        text: document.getElementById('xaxis').options[document.getElementById('xaxis').selectedIndex].text, // FIX ME!
      },
      type: document.getElementById('log_xaxis').checked ? 'log' : '-',
    };
    //console.log(layout.coloraxis);
  }

  var folded_data;
  function redraw_plot() {
    folded_data = prepare_data();
    update_layout();
    console.log("Redrawing...");
    Plotly.react('residuals', folded_data, layout);
  }
  redraw_plot();
  //console.log(folded_data);

  plotDiv = document.getElementById('residuals');
  plotDiv.on('plotly_click', function(d) {
    window.location.href = data[d.points[0].pointIndex].link;
  });

  function toggle_lightcurve_visibility(checkbox) {
    folded_data.forEach((d) => {
      d.visible = checkbox.checked;
    });
    Plotly.react('residuals', folded_data, layout);
  }

  function toggle_pulses_visibility(checkbox) {
    layout.shapes.forEach((s) => {
      s.visible = checkbox.checked;
    });
    Plotly.react('residuals', folded_data, layout);
  }

  // Define behaviour of "reset working ephemeris" button
  function reset_working_ephemeris() {
    document.getElementById('pepoch').value = "{{ working_ephemeris.pepoch|default_if_none:'' }}";
    document.getElementById('p0').value = "{{ working_ephemeris.p0|default_if_none:'' }}";
    document.getElementById('p1').value = "{{ working_ephemeris.p1|default_if_none:'' }}";
    document.getElementById('pb').value = "{{ working_ephemeris.pb|default_if_none:'' }}";
    document.getElementById('dm').value = "{{ working_ephemeris.dm|default_if_none:'' }}";
    document.getElementById('spec_alpha').value = "{{ working_ephemeris.spec_alpha|default_if_none:'' }}";
    document.getElementById('spec_q').value = "{{ working_ephemeris.spec_q|default_if_none:'' }}";

    document.getElementById('pepoch').style.backgroundColor = "field";
    document.getElementById('p0').style.backgroundColor = "field";
    document.getElementById('p1').style.backgroundColor = "field";
    document.getElementById('pb').style.backgroundColor = "field";
    document.getElementById('dm').style.backgroundColor = "field";
    document.getElementById('spec_alpha').style.backgroundColor = "field";
    document.getElementById('spec_q').style.backgroundColor = "field";
  }

  function toggle_scale_flux_disabled() {
    alpha = document.getElementById('spec_alpha').value;
    q     = document.getElementById('spec_q').value;

    // Toggle the scale flux elements' disabled
    let disabled = (alpha.length == 0);
    document.getElementById('scale_fluxes_checkbox').disabled = disabled;
    document.getElementById('scale_fluxes_freq_MHz').disabled = disabled;
  }

  // Initialise the scale flux form to be disabled or not
  toggle_scale_flux_disabled();

</script>

{% endblock %}
