{% extends "published/main.html" %}

{% load static %}

{% block body %}

<a href="{% url 'folding_view' pk=lightcurve.ulp.pk %}">Pulsestack</a>
<a href="{% url 'folding_toa_view' pk=lightcurve.ulp.pk %}">ToA stack</a>
<a href="{% url 'lightcurve_add' pk=lightcurve.ulp.pk %}">Add new lightcurve</a>
<br>
<a href="{{ lightcurve.prev_view }}">Prev</a>
<a href="{{ lightcurve.next_view }}">Next</a>

<h1>{{ lightcurve }}</h1>

<form>
  {% csrf_token %}
  <div class="compact-form-item">
    <label for="telescope">Telescope</label>
    <input class="compact-form-item" id="telescope" name="telescope" value="{{ lightcurve.telescope }}"/>
  </div>
  <div class="compact-form-item">
    <label for="freq">Frequency (MHz)</label>
    <input class="compact-form-item" id="freq" name="freq" value="{{ lightcurve.freq }}"/>
  </div>
  <div class="compact-form-item">
    <label for="bw">Bandwidth (MHz)</label>
    <input class="compact-form-item" id="bw" name="bw" value="{{ lightcurve.bw }}"/>
  </div>
  <div class="compact-form-item">
    <label for="t0">MJD of first sample</label>
    <input class="compact-form-item" id="t0" name="t0" value="{{ lightcurve.t0 }}"/>
  </div>
  <div class="compact-form-item">
    <label for="dt">Duration of samples (s)</label>
    <input class="compact-form-item" id="dt" name="dt" value="{{ lightcurve.dt }}"/>
  </div>
  <div class="compact-form-item">
    <label for="dm">DM used (pc/cm^3)</label>
    <input class="compact-form-item" id="dm" name="dm" value="{{ lightcurve.dm }}"/>
  </div>
  <div class="compact-form-item">
    <label for="dm_freq">Reference frequency used when dedispersing (MHz)</label>
    <input class="compact-form-item" id="dm_freq" name="dm_freq" value="{{ lightcurve.dm_freq|default_if_none:'&#8734;' }}"/>
  </div>
</form>

<h2>Plot</h2>

{% autoescape off %}
{{ plot_div }}
{% endautoescape %}

<div id='lc_plot'>
</div>

<h2>Pulses</h2>

<table id="pulse_table">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Tags</th>
    <th>Actions</th>
  </tr>
  {% for pulse in lightcurve.pulses.all %}
  <tr>
    <form method="post" action="{% url 'add_or_update_pulse' pk=lightcurve.pk %}">
      {% csrf_token %}
      <input id="pulse_id" name="pulse_id" value="{{ pulse.pk }}" hidden/>
      <td>
        <input id="mjd_start_{{ pulse.pk }}" name="mjd_start" type="number" step="any" value="{{ pulse.mjd_start }}" onchange="on_value_change(this);" required/>
        <button type="button" onclick="select_mjd_from_plot('mjd_start_{{ pulse.pk }}');">Choose on plot</button>
      </td>
      <td>
        <input id="mjd_end_{{ pulse.pk }}" name="mjd_end" type="number" step="any" value="{{ pulse.mjd_end }}" onchange="on_value_change(this);" required/>
        <button type="button" onclick="select_mjd_from_plot('mjd_end_{{ pulse.pk }}');">Choose on plot</button>
      </td>
      <td>
        <input id="tags_{{ pulse.pk }}" name="tags" value="{{ pulse.tags|default_if_none:'' }}" onchange="on_value_change(this);"/>
      </td>
      <td>
        <input id="update_pulse_{{ pulse.pk }}" type="submit" name="action" value="Save"/>
        <input id="delete_pulse_{{ pulse.pk }}" type="submit" name="action" value="Delete"/>
      </td>
    </form>
  </tr>
  {% endfor %}
  <tr>
    <form method="post" action="{% url 'add_or_update_pulse' pk=lightcurve.pk %}">
      {% csrf_token %}
      <td>
        <input id="mjd_start" name="mjd_start" type="number" step="any" required/>
        <button type="button" onclick="select_mjd_from_plot('mjd_start');">Choose on plot</button>
      </td>
      <td>
        <input id="mjd_end" name="mjd_end" type="number" step="any" required/>
        <button type="button" onclick="select_mjd_from_plot('mjd_end');">Choose on plot</button>
      </td>
      <td>
        <input id="tags" name="tags"/>
      </td>
      <td><input id="save_new_pulse" type="submit" value="Save new pulse"/></td>
    </form>
  </tr>
</table>

{% if lightcurve.owner == request.user %}

<h2>Share</h2>

<table>
  <tr>
    <th style="padding: 6px;">Group</th>
    <th style="padding: 6px;">Can view</th>
    <th style="padding: 6px;">Can edit</th>
  </tr>
  {% for group in request.user.groups.all %}
  <tr>
    <td>{{ group }}</td>
    <td style="text-align: center;">
      <input type="checkbox" id="{{ group.pk }}_can_view" {% if group in lightcurve.can_view_groups.all %}checked{% endif %} onchange="update_permissions('{% url 'update_permissions' %}', '{{ csrf_token }}', 'data', 'Lightcurve', {{ lightcurve.pk }}, 'group', '{{ group }}', 'view', this);"/>
    </td>
    <td style="text-align: center;">
      <input type="checkbox" id="{{ group.pk }}_can_edit" {% if group in lightcurve.can_edit_groups.all %}checked{% endif %} onchange="update_permissions('{% url 'update_permissions' %}', '{{ csrf_token }}', 'data', 'Lightcurve', {{ lightcurve.pk }}, 'group', '{{ group }}', 'edit', this);"/>
    </td>
  </tr>
  {% endfor %}
</table>

{% endif %}

<script>
  var data = {{ data | safe }};
  plotDiv = document.getElementById('lc_plot');

  data.forEach(function (d) {
    d.mode = 'lines';
    d.type = 'scatter';
  });

  var layout = get_plotly_default_layout();
  layout.shapes = [
    {% for pulse in lightcurve.pulses.all %}
    {
      type: 'rect',
      xref: 'x',
      yref: 'paper',
      x0: {{ pulse.mjd_start }},
      x1: {{ pulse.mjd_end }},
      y0: 0,
      y1: 1,
      fillcolor: '#880',
      opacity: 0.2,
      line: {width: 0}
    },
    {% endfor %}
  ];
  layout.legend = {title: {text: "Polarisation"}};
  layout.xaxis = {title: {text: "MJD (topocentric)"}, tickformat: "%f"};
  layout.yaxis = {title: {text: "Flux density (Jy)"}};

  Plotly.newPlot('lc_plot', data, layout);

  // Code for handling adding pulses
  var mjd_input;
  const mjd_start_input = document.getElementById('mjd_start');
  const mjd_end_input   = document.getElementById('mjd_end');

  function select_mjd_from_plot(mjd_input_id) {
    mjd_input = document.getElementById(mjd_input_id); // either 'mjd_start' or 'mjd_end'
    layout.hovermode = 'x unified';
    Plotly.react('lc_plot', data, layout);
  }

  // e.g. https://plotly.com/javascript/click-events/
  // e.g. https://codepen.io/plotly/pen/QbZmZY
  plotDiv.on('plotly_click', function(d) {
    if (mjd_input.value != d.points[0].x) {
      mjd_input.value = d.points[0].x;
      on_value_change(mjd_input);
    }
    layout.hovermode = 'closest';
    Plotly.react('lc_plot', data, layout);
  });

</script>

{% endblock %}
