{% extends "published/main.html" %}

{% load static %}

{% block body %}

<h1>Pulsestack for {{ ulp }}</h1>

<div class="compact-form-item">
  <label for="pepoch">PEPOCH (MJD)</label>
  <input id="pepoch" name="pepoch" type="number" step="any" value="{{ working_ephemeris.pepoch|default_if_none:'' }}" onchange="on_working_ephemeris_change(this);"/>
</div>
<div class="compact-form-item">
  <label for="p0">Rotational period (s)</label>
  <input id="p0" name="p0" type="number" step="any" value="{{ working_ephemeris.p0|default_if_none:'' }}" onchange="on_working_ephemeris_change(this);"/>
</div>
<div class="compact-form-item">
  <label for="p1">Rotational period derivative (s/s)</label>
  <input id="p1" name="p1" type="number" step="any" value="{{ working_ephemeris.p1|default_if_none:'' }}" onchange="on_working_ephemeris_change(this);"/>
</div>
<div class="compact-form-item">
  <label for="pb">Orbital period (h)</label>
  <input id="pb" name="pb" type="number" step="any" value="{{ working_ephemeris.pb|default_if_none:'' }}" onchange="on_working_ephemeris_change(this);"/>
</div>
<div class="compact-form-item">
  <label for="dm">Dispersion measure (pc/cm^3)</label>
  <input id="dm" name="dm" type="number" step="any" value="{{ working_ephemeris.dm|default_if_none:'' }}" onchange="on_working_ephemeris_change(this);"/>
</div>
<div class="compact-form-item">
  <label for="tausc_1GHz">Scattering timescale at 1 GHz (s)</label>
  <input id="tausc_1GHz" name="tausc_1GHz" type="number" step="any" value="{{ working_ephemeris.tausc_1GHz|default_if_none:'' }}" onchange="on_working_ephemeris_change(this);"/>
</div>

<button type="button" onclick="reset_working_ephemeris();">Reset</button>

<fieldset>
  <legend>Stacking type</legend>

  <input type="radio" id="packed" name="stacking_type" checked onclick="toggle_stacking_type();">
  <label for="packed">Packed (0, 1, 2, ...)</label>
  <br>
  <input type="radio" id="sparse" name="stacking_type" onclick="toggle_stacking_type();">
  <label for="packed">Chronological (relative to PEPOCH)</label>
  <br>
  <input type="number" id="scaleheight" step="any" value="1" onchange="toggle_stacking_type();"/>
  <label for="scaleheight">Scale height of pulses</label>
</fieldset>

<div id='pulsestack'>
</div>

<script>

  function prepare_data(data, pepoch, period, dm, tausc_1GHz) {
    return data.map((d, i) => {
      pulses_phases = fold(d.mjds, pepoch, period, dm, tausc_1GHz, d.freq_MHz);
      phases = pulses_phases.phases;
      pulses = pulses_phases.pulses;
      return {
        t0: d.t0,
        x: phases,
        y: d.values.map((v) => v*parseFloat(document.getElementById('scaleheight').value) + i), // "sequential/packed" stacking
        pulses: pulses, // Store for later, switching between plot types
        values: d.values, // ditto
        mjds: d.mjds, // ditto, but for changing the working ephemeris
        mode: 'lines+markers',
        type: 'scatter',
        marker: {
          size: 0.1,
          color: phases.map((v) => d.freq_MHz),
          coloraxis: 'coloraxis',
        },
        line: {
          color: freq_color(d.freq_MHz, {{ freq_range.min }}, {{ freq_range.max }}),
        },
        freq_MHz: d.freq_MHz,
      };
    });
  }

  var data = {{ data | safe }};
  var pepoch = document.getElementById('pepoch').value
  var p0     = document.getElementById('p0').value
  var p1     = document.getElementById('p1').value
  var pb     = document.getElementById('pb').value
  var dm     = document.getElementById('dm').value
  var tausc_1GHz = document.getElementById('tausc_1GHz').value

  var folded_data = prepare_data(data, pepoch, p0, dm, tausc_1GHz);
  //console.log(folded_data);

  var layout = get_plotly_default_layout();
  layout.height = 100*folded_data.length;
  //layout.width = 1000;
  layout.showlegend = false;
  layout.coloraxis = {
    cmin: {{ freq_range.min }},
    cmax: {{ freq_range.max }},
    colorbar: {
      title: {text: "Frequency (MHz)"},
      ticks: "outside",
      tickcolor: "rgb(222,226, 230)",
      len: 500,
      lenmode: "pixels",
      yanchor: "top",
    },
    colorscale: Array.from({length: 11}, (_, i) => i/10).map((f) => [f, freq_color(f, 0, 1)]),
  };
  layout.xaxis = {title: {text: "Rotation phase"}};
  layout.yaxis = {title: {text: "Pulse number"}};
  //console.log(layout.coloraxis);

  Plotly.newPlot('pulsestack', folded_data, layout);

  pulsestackDiv = document.getElementById('pulsestack');
  pulsestackDiv.on('plotly_click', function(d) {
    window.location.href = data[d.points[0].curveNumber].link;
  });

  function toggle_stacking_type() {
    let scale = parseFloat(document.getElementById('scaleheight').value);
    if (document.getElementById('packed').checked) {
      folded_data.forEach((d, p) => {
        d.y = d.values.map((v) => v*scale + p);
      });
      layout.height = 100*folded_data.length;
    } else if (document.getElementById('sparse').checked) {
      folded_data.forEach((d, p) => {
        d.y = d.values.map((v, i) => v*scale + d.pulses[i]);
      });
      layout.height = 2000;
    }
    Plotly.react('pulsestack', folded_data, layout);
  }

  //console.log(layout);

  // Define behaviour of "reset working ephemeris" button
  function reset_working_ephemeris() {
    document.getElementById('pepoch').value = "{{ working_ephemeris.pepoch|default_if_none:'' }}";
    document.getElementById('p0').value = "{{ working_ephemeris.p0|default_if_none:'' }}";
    document.getElementById('p1').value = "{{ working_ephemeris.p1|default_if_none:'' }}";
    document.getElementById('pb').value = "{{ working_ephemeris.pb|default_if_none:'' }}";
    document.getElementById('dm').value = "{{ working_ephemeris.dm|default_if_none:'' }}";

    document.getElementById('pepoch').style.backgroundColor = "field";
    document.getElementById('p0').style.backgroundColor = "field";
    document.getElementById('p1').style.backgroundColor = "field";
    document.getElementById('pb').style.backgroundColor = "field";
    document.getElementById('dm').style.backgroundColor = "field";

    let pepoch = parseFloat(document.getElementById('pepoch').value);
    let period = parseFloat(document.getElementById('p0').value);
    let dm = parseFloat(document.getElementById('dm').value);
    let tausc_1GHz = parseFloat(document.getElementById('tausc_1GHz').value);

    folded_data.forEach((d) => {
      pulses_phases = fold(d.mjds, pepoch, period, dm, tausc_1GHz, d.freq_MHz);
      d.x = pulses_phases.phases;
    });
    Plotly.react('pulsestack', folded_data, layout);
  }

  // Define what happens when a working ephemeris value is changed
  function on_working_ephemeris_change(element) {
    let pepoch = parseFloat(document.getElementById('pepoch').value);
    let period = parseFloat(document.getElementById('p0').value);
    let dm = parseFloat(document.getElementById('dm').value);
    let tausc_1GHz = parseFloat(document.getElementById('tausc_1GHz').value);
    on_value_change(element);
    folded_data.forEach((d) => {
      pulses_phases = fold(d.mjds, pepoch, period, dm, tausc_1GHz, d.freq_MHz);
      d.x = pulses_phases.phases;
    });
    Plotly.react('pulsestack', folded_data, layout);
  }

</script>

{% endblock %}
