{% extends "published/main.html" %}

{% load static %}

{% block body %}

<h1>{{ ulp }}</h1>

<div id="residual-plot" style="height: 500px;"></div>

<h2>Ephemeris</h2>

<form method="post" action="#prediction-table">
  {% csrf_token %}

  <label for="raj" class="form-label">RAJ:</label>
  <input class="form-control" id="raj" name="raj" value="{{ ephemeris.RAJ }}" step="any" required/>

  <label for="decj" class="form-label">DECJ:</label>
  <input class="form-control" id="decj" name="decj" value="{{ ephemeris.DECJ }}" step="any" required/>

  <label for="pepoch" class="form-label">PEPOCH:</label>
  <input type="number" class="form-control" id="pepoch" name="pepoch" value="{{ ephemeris.PEPOCH }}" step="any" onchange="replot()" required/>

  <label for="folding-period" class="form-label">P0:</label>
  <input type="number" class="form-control" id="folding-period" name="folding-period" value="{{ ephemeris.P0 }}" step="any" onchange="replot()" required/>

  <label for="dm" class="form-label">DM:</label>
  <input type="number" class="form-control" id="dm" name="dm" value="{{ ephemeris.DM }}" step="any" required/>

  <h2>Predictions</h2>

  <label for="mjd-start" class="form-label">Start date:</label>
  <input type="datetime-local" class="form-control" id="mjd-start" name="mjd-start" value="{{ mjd_start }}" step="any" required/>

  <label for="mjd-end" class="form-label">End date:</label>
  <input type="datetime-local" class="form-control" id="mjd-end" name="mjd-end" value="{{ mjd_end }}" step="any" required/>

  <label for="telescope" class="form-label">Telescope:</label>
  <select id='telescope' name='telescope' class="form-control" required>
    {% for telescope in telescopes %}
    <option value='{{ telescope }}' {% if telescope == selected_telescope %}selected{% endif %}>{{ telescope }}</option>
    {% endfor %}
  </select>

  <label for="mjd-dispersion-freq" class="form-label">Observing frequency (MHz):</label>
  <input type="number" class="form-control" id="mjd-dispersion-frequency" name="mjd-dispersion-frequency" value="{{ mjd_dispersion_frequency }}" step="any" required/>

  <label for="minimum-elevation" class="form-label">Minimum elevation (°):</label>
  <input type="number" class="form-control" id="minimum-elevation" name="minimum-elevation" value="{{ min_el }}" step="any" required/>

  <label for="maximum-sun-elevation" class="form-label">Maximum Sun elevation (°):</label>
  <input type="number" class="form-control" id="maximum-sun-elevation" name="maximum-sun-elevation" value="{{ max_sun_el }}" step="any" required/>

  <label for="output-toa-format" class="form-label">Output TOA format:</label>
  <select id='output-toa-format' name='output-toa-format' class="form-control" required>
    {% for output_toa_format in output_toa_formats %}
    <option value='{{ output_toa_format }}' {% if output_toa_format == selected_output_toa_format %}selected{% endif %}>{{ output_toa_format.upper }}</option>
    {% endfor %}
  </select>

  <input type="submit" class="btn btn-primary" value="Generate TOAs"/>
</form>

{% if predicted_toas %}
<table id="prediction-table" class="table">
  <tr>
    <th>Barycentred TOA<br>(<a class="col0 copy-col" href='#'>copy</a>)</th>
    <th>Topocentric TOA<br>(<a class="col1 copy-col" href='#'>copy</a>)</th>
    <th>Topocentric TOA at {{ mjd_dispersion_frequency }} MHz<br>for DM = {{ ephemeris.DM }} pc/cm3 (<a class="col2 copy-col" href='#'>copy</a>)</th>
    <th>Source elevation (°)<br>(<a class="col3 copy-col" href='#'>copy</a>)</th>
    <th>Sun elevation (°)</th>
  </tr>
  {% for predicted_toa in predicted_toas %}
  <tr>
    <td>{{ predicted_toa.bary }}</td>
    <td>{{ predicted_toa.topo }}</td>
    <td>{{ predicted_toa.topo_disp }}</td>
    <td>{{ predicted_toa.elevation }}</td>
    <td>{{ predicted_toa.sun_elevation }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<script src="https://d3js.org/d3.v4.js"></script>
<script type="text/javascript" src="{% static 'data/residual_plot.js' %}"></script>
<script>

  var copy_links = document.getElementsByClassName('copy-col');

  Array.prototype.forEach.call(copy_links, function (copy_link) {
    copy_link.addEventListener('click', function (e) {
      e.preventDefault();
      col = copy_link.className[3]; // An ugly hack to get which column's "copy" link was clicked
      text = "";
      var table = document.getElementById("prediction-table");
      for (var i = 1, row; row = table.rows[i]; i++) {
        text += row.cells[col].innerText + '\n';
      }
      navigator.clipboard.writeText(text);
    })
  });

  // Get the folding period and the PEPOCH
  const folding_period_element = document.getElementById("folding-period")
  const pepoch_element = document.getElementById("pepoch")

  // set the dimensions and margins of the graph
  var parentDiv = document.getElementById("residual-plot");

  // Create plot elements
  plot = create_residual_plot_elements("residual-plot");

  // "g" is the main group containing all plotted elements
  var margin = {top: 50, right: 80, bottom: 50, left: 80};
  var folding_period = folding_period_element.value;
  var pepoch = pepoch_element.value;
  ephemeris = {
    folding_period: folding_period_element.value,
    pepoch: pepoch_element.value
  };

  var xlim = [{{ plot_specs.xmin }}, {{ plot_specs.xmax }}];
  var ylim = [{{ plot_specs.ymin }}, {{ plot_specs.ymax }}];

  set_residual_plot_dimensions(plot, xlim, ylim, margin, ephemeris);

  function replot() {
    position_residual_data(plot, ephemeris);
  }

  // Zoom on mouse wheel
  plot.svg.on("wheel", function(d) {

    d3.event.preventDefault();
    scrollpos = d3.mouse(this);

    var ephemeris = {
      folding_period: folding_period_element.value,
      pepoch: pepoch_element.value
    };

    plot_zoom(plot, scrollpos, ephemeris);
  });

  // Change period on mouse drag
  plot.svg.on("mousedown", edit_period_mousedown);

  plot.svg.on("mousemove", function() {
    if (svg_mousedown) {
      d3.event.preventDefault();

      let movepos = d3.mouse(this);

      var ephemeris = {
        folding_period: folding_period_element.value,
        pepoch: pepoch_element.value
      };
      edit_period_mousemove(plot, ephemeris, movepos);

      // Change the value in the input field
      folding_period_element.value = ephemeris.folding_period;
    }
  });

  plot.svg.on("mouseup", function() {
    edit_period_mouseup(plot);
  });

  // Plot once to get started
  add_residual_data(plot, "{% url 'toa_data' pk=ulp.pk %}", "#d090f8", ephemeris);

</script>

{% endblock %}
