{% extends "published/main.html" %}

{% load static %}

{% block body %}

<a href="{% url 'folding_view' pk=toa.template.working_ephemeris.ulp.pk %}">Pulsestack</a>
<a href="{% url 'folding_toa_view' pk=toa.template.working_ephemeris.ulp.pk %}">ToA stack</a>
<br>
<a href="{{ toa.prev_view }}">Prev</a>
<a href="{{ toa.next_view }}">Next</a>

<h1>{{ toa }}</h1>

<div id="toa_plot">
</div>

<form action="{% url 'refit_toa' pk=toa.pk %}" method="POST">
  {% csrf_token %}
  <div>
    <label for="baseline">Fit baseline</label>
    <select id="baseline" name="baseline_degree" required>
      <option value="-1" {% if baseline_degree == -1 %}selected{% endif %}>Do not fit a baseline</option>
      <option value="0" {% if baseline_degree == 0 %}selected{% endif %}>Fit a constant baseline</option>
      <option value="1" {% if baseline_degree == 1 %}selected{% endif %}>Fit a linear baseline</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Refit ToA"/>
  </div>
</form>

<script>

  var data = [
    // Lightcurve
    {
      x: {{ times | safe }},
      y: {{ values | safe }},
      mode: 'lines',
      type: 'scatter',
      name: 'Lightcurve',
    },
    // Mark the ToA itself
    {
      y: [0.0],
      yref: "paper",
      x: [{{ toa.toa_mjd }}],
      error_x: {
        array: [{{ toa_err_days }}],
      },
      mode: 'markers',
      type: 'scatter',
      name: 'ToA',
    },
    // The template
    {
      x: {{ template_times | safe }},
      y: {{ template_values | safe }},
      mode: 'lines',
      type: 'scatter',
      name: 'Template',
    },
  ];

  var layout = get_plotly_default_layout();
  layout.xaxis = {
    title: {text: "MJD (barycentred, without dedispersion correction)"},
    tickformat: 'f',
  };
  layout.yaxis = {title: {text: "Flux density (Jy)"}};

  //plotDiv = document.getElementById('toa_plot');
  Plotly.react('toa_plot', data, layout);
  
</script>

{% endblock %}
