{% extends "published/main.html" %}

{% load static %}

{% block body %}

<h1>ToA {{ toa }}</h1>

<form>
  {% csrf_token %}
  <div class="compact-form-item">
    <label for="raw-mjd">MJD</label>
    <input id="raw-mjd" name="raw_mjd" type="number" value="{{ toa.raw_mjd }}"/>
  </div>
  <div class="compact-form-item">
    <label for="mjd-err">MJD error</label>
    <input id="mjd-err" name="mjd_err" type="number" value="{{ toa.mjd_err }}"/>
  </div>
  <div class="compact-form-item">
    <label for="mjd">Barycentred, dedispersed MJD</label>
    <input id="mjd" name="mjd" type="number" value="{{ toa.mjd }}"/>
  </div>
  <div class="compact-form-item">
    <label for="telescope">Telescope</label>
    <input id="telescope" name="telescope" value="{{ toa.telescope }}"/>
  </div>
  <div class="compact-form-item">
    <label for="backend">Backend</label>
    <input id="backend" name="backend" value="{{ toa.backend }}"/>
  </div>
  <div class="compact-form-item">
    <label for="freq">Frequency ({{ freq_units }})</label>
    <input id="freq" name="freq" type="number" value="{{ toa.freq }}"/>
  </div>
  <div class="compact-form-item">
    <label for="bw">Bandwidth</label>
    <input id="bw" name="bw" type="number" value="{{ toa.bw }}"/>
  </div>
  <div class="compact-form-item">
    <label for="spectral-index">Spectral index</label>
    <input id="spectral-index" name="spectral_index" type="number" value="{{ toa.spectral_index }}"/>
  </div>
  <div class="compact-form-item">
    <label for="rotation-measure">Rotation measure (rad/m^2)</label>
    <input id="rotation-measure" name="rotation_measure" type="number" value="{{ toa.rotation_measure }}"/>
  </div>
  <div class="compact-form-item">
    <label for="peak-flux-Jy">Peak flux (Jy)</label>
    <input id="peak-flux-Jy" name="peak_flux_Jy" type="number" value="{{ toa.peak_flux_Jy }}"/>
  </div>
  <div class="compact-form-item">
    <label for="upper-limit">Upper limit?</label>
    <input id="upper-limit" name="upper_limit" value="{{ toa.upper_limit }}"/>
  </div>
  <div class="compact-form-item">
    <label for="pulse-width">Pulse width (s)</label>
    <input id="pulse-width" name="pulse_width" type="number" value="{{ toa.pulse_width }}"/>
  </div>
  <div class="compact-form-item">
    <label for="lightcurves">Lightcurves</label>
    <span>
      {% if toa.lcI %}<a href="{% url 'lightcurve_view' pk=toa.lcI.pk %}">I</a>{% else %}+I {% endif %}
      {% if toa.lcQ %}<a href="{% url 'lightcurve_view' pk=toa.lcQ.pk %}">Q</a>{% else %}+Q {% endif %}
      {% if toa.lcU %}<a href="{% url 'lightcurve_view' pk=toa.lcU.pk %}">U</a>{% else %}+U {% endif %}
      {% if toa.lcV %}<a href="{% url 'lightcurve_view' pk=toa.lcV.pk %}">V</a>{% else %}+V {% endif %}
    </span>
  </div>
  <div>
    <label for="notes">Notes</label><br>
    <textarea id="notes" name="notes" rows="10" cols="80">{{ toa.notes }}</textarea>
  </div>
  {% if toa.plots.all.exists %}
  <div>
    <label for="plots">Plots</label><br>
    <table>
      <tr>
        <th>Thumbnail</th>
        <th>Description</th>
      </tr>
      {% for plot in toa.plots.all %}
      <tr class="plot-table">
        <td>
          <a href="{{ plot.image.url }}">
            <img src="{{ plot.image.url }}" alt="{{ plot.image.name }}" style="width: auto; height: 200px;">
          </a>
        </td>
        <td>{{ plot.description }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
</form>

{% endblock %}
