{% extends "published/main.html" %}

{% load static %}

{% load custom_tags %}

{% block body %}

<h1>ToA for {{ toa.ulp }}</h1>

<div class="compact-form-item">
  <label for="raw-mjd">MJD</label>
  <input id="raw-mjd" name="raw_mjd" type="number" value="{{ toa.raw_mjd|default_if_none:'' }}"/>
  <span>(ISO: {{ toa|toa_format:'iso'|default_if_none:'' }})</span>
</div>
<div class="compact-form-item">
  <label for="mjd-err">MJD error</label>
  <input id="mjd-err" name="mjd_err" type="number" value="{{ toa.mjd_err|default_if_none:'' }}"/>
  <span>(= {{ toa.mjd_err|convert_unit:"d,s"|default_if_none:'' }} s)</span>
</div>
<div class="compact-form-item">
  <label for="telescope_name">Telescope</label>
  <input id="telescope_name" name="telescope_name" value="{{ toa.telescope_name|default_if_none:'' }}"/>
</div>
<div class="compact-form-item">
  <label for="freq">Frequency ({{ freq_units }})</label>
  <input id="freq" name="freq" type="number" value="{{ toa.freq|default_if_none:'' }}"/>
</div>
<div class="compact-form-item">
  <label for="bw">Bandwidth</label>
  <input id="bw" name="bw" type="number" value="{{ toa.bw|default_if_none:'' }}"/>
</div>
<div class="compact-form-item">
  <label for="spectral-index">Spectral index</label>
  <input id="spectral-index" name="spectral_index" type="number" value="{{ toa.spectral_index|default_if_none:'' }}"/>
</div>
<div class="compact-form-item">
  <label for="rotation-measure">Rotation measure (rad/m^2)</label>
  <input id="rotation-measure" name="rotation_measure" type="number" value="{{ toa.rotation_measure|default_if_none:'' }}"/>
</div>
<div class="compact-form-item">
  <label for="peak-flux-Jy">Peak flux (Jy)</label>
  <input id="peak-flux-Jy" name="peak_flux_Jy" type="number" value="{{ toa.peak_flux_Jy|default_if_none:'' }}"/>
</div>
<div class="compact-form-item">
  <label for="upper-limit">Upper limit?</label>
  <input id="upper-limit" name="upper_limit" value="{{ toa.upper_limit|default_if_none:'' }}"/>
</div>
<div class="compact-form-item">
  <label for="pulse-width">Pulse width (s)</label>
  <input id="pulse-width" name="pulse_width" type="number" value="{{ toa.pulse_width|default_if_none:'' }}"/>
</div>
<div>
  <label for="notes">Notes:</label><br>
  <textarea id="notes" name="notes" rows="10" cols="80">{{ toa.notes }}</textarea>
</div>
{% if toa.plots.all.exists %}
<div>
  <label for="plots">Plots</label><br>
  <table>
    <tr>
      <th>Thumbnail</th>
      <th>Description</th>
    </tr>
    {% for plot in toa.plots.all %}
    <tr class="plot-table">
      <td>
        <a href="{{ plot.image.url }}">
          <img src="{{ plot.image.url }}" alt="{{ plot.image.name }}" style="width: auto; height: 200px;">
        </a>
      </td>
      <td>{{ plot.description }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

{% endblock %}
