{% extends "published/main.html" %}

{% load static %}

{% block body %}

<h1>{{ ulp }}</h1>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'timing_residuals' pk=ulp.pk %}">Predict ToAs</a>
        <span class="nav-link nav-link-active" style="cursor: default;">Edit ToAs</span>
        <a class="nav-link" href="{% url 'observations_view' pk=ulp.pk %}">Edit observations</a>
      </div>
    </div>
  </div>
</nav>

<div style="padding: 10px;">
  <form id="act_on_toas" method="post" action="{% url 'act_on_toas' pk=ulp.pk %}">
    {% csrf_token %}
    <select name="action_on_selected">
      <option value=""></option>
      <option value="delete">Delete selected ToAs</option>
    </select>
    <input type="submit" value="Go"/>
  </form>
</div>

<div class="toa-list">

  <!--<span><b>ID</b></span>-->
  <input type="checkbox" id="select_all" onchange="toggle_select_all();"/>
  <span><b>Owner</b></span>
  <span><b>Frequency</b></span>
  <span><b>(Topocentric) MJD</b></span>
  <span><b>MJD error</b></span>
  <span><b>(Astropy) Telescope name</b></span>

  <span></span>
  <span></span>
  <!--<span><b>{{ freq_units }}</b></span>-->
  <select id="freq_units" name="freq_units" form="add_toa" onchange="convert_freq_units();">
    <option value="Hz" {% if freq_units == "Hz" %}selected{% endif %}>Hz</option>
    <option value="kHz" {% if freq_units == "kHz" %}selected{% endif %}>kHz</option>
    <option value="MHz" {% if freq_units == "MHz" %}selected{% endif %}>MHz</option>
    <option value="GHz" {% if freq_units == "GHz" %}selected{% endif %}>GHz</option>
  </select>
  <span></span>
  <!--<span><b>{{ mjd_err_units }}</b></span>-->
  <select id="mjd_err_units" name="mjd_err_units" form="add_toa" onchange="convert_time_units();">
    <option value="us" {% if mjd_err_units == "us" %}selected{% endif %}>μs</option>
    <option value="ms" {% if mjd_err_units == "ms" %}selected{% endif %}>ms</option>
    <option value="s" {% if mjd_err_units == "s" %}selected{% endif %}>s</option>
    <option value="min" {% if mjd_err_units == "min" %}selected{% endif %}>min</option>
    <option value="hr" {% if mjd_err_units == "hr" %}selected{% endif %}>hr</option>
    <option value="d" {% if mjd_err_units == "d" %}selected{% endif %}>d</option>
  </select>
  <span></span>

  {% for toa in toas %}
  {% if toa.editable is False %}
  <span></span>
  {% else %}
  <input type="checkbox" id="cb_{{ toa.id }}" name="cb_{{ toa.id }}" class="toa-cbs" form="act_on_toas"/>
  {% endif %}
  <!--<span><a href="{% url 'toa_detail_view' pk=toa.pk %}">{{ toa.pk }}</a></span>-->
  <span>{{ toa.owner }}</span>
  <input type="number" class="freq-unit" id="freq_{{ toa.id }}" name="freq" value="{{ toa.freq|default_if_none:"" }}" {% if toa.editable is False %}disabled{% endif %} onchange="update_toa({{ toa.pk }}, 'freq', this, 'freq');" required/>
  <input type="number" id="raw_mjd_{{ toa.id }}" name="raw_mjd" value="{{ toa.raw_mjd|default_if_none:"" }}" {% if toa.editable is False %}disabled{% endif %} onchange="update_toa({{ toa.pk }}, 'raw_mjd', this, '');"/>
  <input type="number" class="time-unit" id="mjd_err_{{ toa.id }}" name="mjd_err" value="{{ toa.mjd_err|default_if_none:"" }}" {% if toa.editable is False %}disabled{% endif %} onchange="update_toa({{ toa.pk }}, 'mjd_err', this, 'time');"/>
  <select id="telescope_name_{{ toa.id }}" name="telescope_name" {% if toa.editable is False %}disabled{% endif %} onchange="update_toa({{ toa.pk }}, 'telescope_name', this, '');">
    <option value="">--Select telescope--</option>
    {% for telescope in telescopes %}
    <option value="{{ telescope }}" {% if telescope == toa.telescope_name %}selected{% endif %}>{{ telescope }}</option>
    {% endfor %}
  </select>
  <!--
  <input type='checkbox' id="barycentred" name="barycentred" {% if toa.editable is False %}disabled{% endif %} {% if toa.barycentred %}checked{% endif %} onchange="update_toa({{ toa.pk }}, 'barycentred', this);"/>
  <input type='checkbox' id="dedispersed" name="dedispersed" {% if toa.editable is False %}disabled{% endif %} {% if toa.dedispersed %}checked{% endif %} onchange="update_toa({{ toa.pk }}, 'dedispersed', this);"/>
  -->
  {% endfor %}

  <input type="submit" value="+" form="add_toa"/>
  <span></span>
  <input type="number" class="freq-unit" id="new_freq" name="freq" form="add_toa" step="any" required/>
  <input type="number" id="new_raw_mjd" name="raw_mjd" form="add_toa" step="any" required/>
  <input type="number" class="time-unit" id="new_mjd_err" name="mjd_err" form="add_toa" step="any" required/>
  <select id="new_telescope_name" name="telescope_name" form="add_toa" required>
    <option value="">--Select telescope--</option>
    {% for telescope in telescopes %}
    <option value="{{ telescope }}">{{ telescope }}</option>
    {% endfor %}
  </select>
</div>

<form id="add_toa" method="post" action="{% url 'add_toa' pk=ulp.pk %}">
  {% csrf_token %}
</form>

<script>
  var current_time_unit = "{{ mjd_err_units }}";
  var current_freq_unit = "{{ freq_units }}";

  const select_all = document.getElementById('select_all');
  const toa_cbs = document.getElementsByClassName('toa-cbs');

  function toggle_select_all() {
    for (toa_cb of toa_cbs) {
      toa_cb.checked = select_all.checked;
    }
  }

  function update_toa(pk, field, cell, unit) {

    const xhr = new XMLHttpRequest();
    xhr.open('PUT', "{% url 'update_toa' %}");
    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
    xhr.setRequestHeader("Content-type", "application/json");

    const data = {
      pk: pk,
      field: field,
      value: (cell.type === 'checkbox' ? cell.checked : cell.value),
      unit: (unit == 'time' ? current_time_unit : (unit == 'freq' ? current_freq_unit : '')),
    }

    xhr.onload = () => {
      if (xhr.status != 200) {
        cell.style.backgroundColor = "#600";
        alert(xhr.responseText);
        return;
      }

      cell.style.backgroundColor = "field";
    }

    xhr.send(JSON.stringify(data));
    cell.style.backgroundColor = "#880";
  }

  function convert_freq_units() {

    const xhr = new XMLHttpRequest();
    xhr.open('PUT', "{% url 'convert_units' %}");
    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
    xhr.setRequestHeader("Content-type", "application/json");

    select = document.getElementById('freq_units');
    cells = document.getElementsByClassName('freq-unit');
    const data = {
      values: Array.from(cells, (c) => parseFloat(c.value)),
      from_unit: current_freq_unit,
      to_unit: select.value,
    };

    xhr.onload = () => {
      if (xhr.status != 200) {
        select.style.backgroundColor = "#600";
        select.value = current_freq_unit;
        alert(xhr.responseText);
        return;
      }

      // Update the cells' values
      new_values = JSON.parse(xhr.response);
      Array.from(cells).forEach((c, i) => {
        c.value = new_values[i];
      });
      select.style.backgroundColor = "field";
      current_freq_unit = data.to_unit;
    }

    xhr.send(JSON.stringify(data));
    select.style.backgroundColor = "#880";
  }

  function convert_time_units() {

    const xhr = new XMLHttpRequest();
    xhr.open('PUT', "{% url 'convert_units' %}");
    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
    xhr.setRequestHeader("Content-type", "application/json");

    select = document.getElementById('mjd_err_units');
    cells = document.getElementsByClassName('time-unit');
    const data = {
      values: Array.from(cells, (c) => parseFloat(c.value)),
      from_unit: current_time_unit,
      to_unit: select.value,
    };

    xhr.onload = () => {
      if (xhr.status != 200) {
        select.style.backgroundColor = "#600";
        select.value = current_time_unit;
        alert(xhr.responseText);
        return;
      }

      // Update the cells' values
      new_values = JSON.parse(xhr.response);
      Array.from(cells).forEach((c, i) => {
        c.value = new_values[i];
      });
      select.style.backgroundColor = "field";
      current_time_unit = data.to_unit;
    }

    xhr.send(JSON.stringify(data));
    select.style.backgroundColor = "#880";
  }
</script>

{% endblock %}
