{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Ultra-long period transients</title>
        <link rel="stylesheet" href="{% static 'published/style.css' %}">
    </head>
    <body>
        <h1>Galactic view</h1>
        <div class="galactic-map">
            <img src="{% static 'published/milky-way-annotated-rot.jpg' %}"/>
            {% comment %}
            The viewBox numbers below give an excellent approximation of the map distances
            in kpc, centered on the Sun.
            {% endcomment %}
            <svg width="100%" height="100%" viewBox="-20.865 -27.25 41.73 38.52">
                <g transform="scale(1 -1)">
                    {% for ulp, values in values.items %}
                    <g transform="rotate({{ values.gal_long }})">
                        <line x1="0" y1="{{ values.near_dist }}" x2="0" y2="{{ values.far_dist }}" stroke="white" stroke-width="0.1" />
                        <circle r="0.2" cx="0" cy="{{ values.dist }}" fill="white"/>
                    </g>
                    {% endfor %}
                </g>
            </svg>
        </div>
        <p>Background image from <a href="https://www.galaxies3d.org/img/milky-way-annotated-rot.jpg">https://www.galaxies3d.org/img/milky-way-annotated-rot.jpg</a></p>
    </body>
</html>
