{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Ultra-long period transients</title>
        <link rel="stylesheet" href="{% static 'published/style.css' %}">
    </head>
    <body>
        <h1>ULP parameters</h1>
        <table>
            <tr>
                <th>ULP</th>
                {% for parameter in parameters %}
                <th>{{ parameter }}</th>
                {% endfor %}
            </tr>
            {% for ulp, parameters in rows.items %}
            <tr>
                <td>{{ ulp }}</td>
                {% for parameter, measurement in parameters.items %}
                <td>{{ measurement }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
