{% extends 'published/main.html' %}

{% load static %}

{% block body %}

<div id="ppdot-plot"></div>

<form>
    {% csrf_token %}
    <input type=checkbox id="mcgill" name="mcgill" {% if import_mcgill %}checked{% endif %}/>
    <label for="mcgill">Display McGill magnetar catalogue</label></br>
    <input type="submit" value="Update plot"/>
</form>

<script src="https://d3js.org/d3.v4.js"></script>
<script>
    // set the dimensions and margins of the graph
    var margin = {top: 10, right: 50, bottom: 50, left: 80},
        width = 800 - margin.left - margin.right,
        height = 800 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#ppdot-plot")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // Add axis labels
    svg.append("text")
        .attr("class", "x label")
        .attr("text-anchor", "middle")
        .attr("x", width/2)
        .attr("y", height + margin.top + margin.bottom/2)
        .text("Period (s)");
    svg.append("text")
        .attr("class", "y label")
        .attr("transform", "rotate(-90)")
        .attr("text-anchor", "middle")
        .attr("y", -0.75*margin.left)
        .attr("x", -margin.top - height/2)
        .text("Period derivative (s/s)");

    // Add X axis
    var x = d3.scaleLog()
        .domain([1e-3, 1e5])
        .range([ 0, width ]);
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add Y axis
    var y = d3.scaleLog()
        .domain([1e-22, 1e-7])
        .range([ height, 0]);
    svg.append("g")
        .call(d3.axisLeft(y));

    function ulp_link(d) {
        return "{% url 'ulp' pk=1 %}".replace(/1$/, d.id) // Dirty hack to form the right url
    }

    function plot_dataset(url, color, link_function) {

        // Get data from ulp database
        d3.json(url, function(data) {

            console.log(data);
            g = svg.append('g')

            // Add links
            if (link_function !== "") {
                g.selectAll("dot")
                    .data(data)
                    .enter()
                    .append("a").attr("xlink:href", (d) => link_function(d))
                    .append("circle")
                    .attr("cx", function (d) { return d.P? x(d.P) : x(1e-100)})  // Dirty hack to force the undefined points completely off the page
                    .attr("cy", function (d) { return d.Pdot ? y(d.Pdot) : y(1e100)})  // Dirty hack to force the undefined points completely off the page
                    .attr("r", 3)
                    .style("fill", color)
                    .append("title")
                    .text((d) => d.name);
            } else {

                // Add points
                g.selectAll("dot")
                    .data(data)
                    .enter()
                    .append("circle")
                    .attr("cx", function (d) { return d.P? x(d.P) : x(1e-100)})  // Dirty hack to force the undefined points completely off the page
                    .attr("cy", function (d) { return d.Pdot ? y(d.Pdot) : y(1e100)})  // Dirty hack to force the undefined points completely off the page
                    .attr("r", 3)
                    .style("fill", color)
                    .append("title")
                    .text((d) => d.name);
            }

            // Add Pdot error bars
            g.selectAll("Pdot_err")
                .data(data)
                .enter()
                .append("path")
                .attr("d", (d) => d.Pdot_err > 0 ?
                    " M " + x(d.P) + "," + y(d.Pdot) +
                    " L " + x(d.P) + "," + y(d.Pdot - d.Pdot_err) +
                    " M " + x(d.P) + "," + y(d.Pdot) +
                    " L " + x(d.P) + "," + y(d.Pdot + d.Pdot_err)
                    : "M 0,0")
                .style("stroke", color);

            // Add Pdot upper limits
            svg.append('g')
                .selectAll("upper_limits")
                .data(data)
                .enter()
                .append("path")
                .attr("d", (d) => d.Pdot__upper_limit === true ? "M " + x(d.P) + "," + y(d.Pdot) + " m -1,0 l 0,10 l -5,0 l 6,8 l 6,-8 l -5,0 l 0,-10 Z" : "M 0,0")
                .style("fill", color);

        });
    }

    plot_dataset("{% url 'table_data' pk=1 %}", "rebeccapurple", ulp_link);
    {% if import_mcgill %}
    plot_dataset("{% url 'mcgill_data' %}", "blue", (d) => "https://www.physics.mcgill.ca/~pulsar/magnetar/main.html");
    {% endif %}

</script>

{% endblock%}
