{% extends 'published/main.html' %}

{% load static %}

{% block title %}
LPT Documentation
{% endblock %}

{% block body %}

<div id="main-container">

  <div class="sitemap bg-{% if request.user.setting %}{{ request.user.setting.get_site_theme_display|lower|default_if_none:'light' }}{% else %}light{% endif %}">
    <ul>
      <li><a href="#uploading-toas">Uploading ToAs from the command line</a></li>
      <ul>
        <li><a href="#supported-toa-file-formats">Supported ToA file formats</a></li>
      </ul>
      <li><a href="#generate-toas">Generating ToA predictions from the command line</a></li>
    </ul>
  </div>

  <div class="content">

    <h1 id="uploading-toas">Uploading ToAs from the command line</h1>

    <p>Here is an example Python script for uploading ToAs to the website en masse:</p>

    <details style="border: 1px solid black; padding: 3px;">
      <summary>Example script for uploading ToAs</summary>
      <pre style="border: 1px solid black; padding: 3px;"><code>import argparse
import requests

url = "https://lpt.mwa-image-plane.cloud.edu.au/data/api/write_toas"

def main():
    parser = argparse.ArgumentParser(description="Upload ToAs to the LPT website")
    parser.add_argument('LPT', help="The LPT to associate these ToAs with. Must be the exact name as given on the website.")
    parser.add_argument('ToAs_file', help="The file of ToAs to upload")
    parser.add_argument('token', help="The user's token for the website (go to Settings)")
    parser.add_argument('--mode', choices=['overwrite', 'add', 'ignore'], default='ignore', help="How to handle ToAs for the same pulse at the same telescope and frequency (default=ignore)")
    parser.add_argument('--format', choices=['astropy_qtable', 'tim_format_1'], default='astropy_qtable', help="The format of the file containing the ToAs. Default = 'astropy_qtable'")

    args = parser.parse_args()

    headers = {
        "Authorization": f"Token {args.token}",
        "Accept": "application/json",
    }

    data = {
        'mode': args.mode,
        'format': args.format,
        'lpt': args.LPT,
    }

    with open(args.ToAs_file, 'rb') as f:
        files = {'toa_file': (args.ToAs_file, f)}
        try:
            response = requests.post(url, headers=headers, data=data, files=files, stream=True)
            response.raise_for_status()
        except requests.exceptions.HTTPError:
            try:
                error = response.json()
                print("Error:", error.get("detail", error))
            except ValueError:
                print("Non-JSON error:", response.text)
            raise


if __name__ == '__main__':
    main()</code></pre>
    </details>

    <h2 id="supported-toa-file-formats">Supported ToA file formats</h2>

    <p>Two file formats are currently supported, <code>tim_format_1</code> and <code>astropy_qtable</code>.

    <h3><code>tim_format_1</code></h3>

    <code>tim_format_1</code> is a standard format used for pulsar timing, and which is documented elsewhere. An example follows:</p>

    <details style="border: 1px solid black; padding: 3px;">
      <summary>Example <code>tim_format_1</code> file</summary>
      <pre style="border: 1px solid black; padding: 3px;"><code>MODE 1
FORMAT 1
C Generated by the ULP database 2025-07-19 05:27:56.288365+00:00
C Timing residuals for Some Amazing LPT
test.ar 175.1 60267.6118297289 1000000.00 MWA
test.ar 175.1 60472.5041322761 1000000.00 MWA
test.ar 175.1 60472.2334322081 1000000.00 MWA
...</code></pre>
    </details>
    <p>In practice, for this website, only a subset of <code>.tim</code> formats is supported. In summary, the first two lines are always ignored, as well as any line starting with the character <code>C</code>. The rest of the lines are as per the normal format specification. Note that although any telescope/observator name can be input in the last column, only those names with (case insensitive) equivalents in AstroPy's EarthLocation stie list will be reflected elsewhere on the website.</p>

    <h3><code>astropy_qtable</code></h3>

    <p>The website also accepts an AstroPy QTable format, which is expected to have (at least) the following columns:</p>

    <details style="border: 1px solid black; padding: 3px;">
      <summary>Example <code>astropy_qtable</code> construction</summary>
      <pre style="border: 1px solid black; padding: 3px;"><code>from astropy.table import QTable
import astropy.units as u

table = QTable(names=['freq', 'ToA', 'ToA_err', 'telescope'],
               dtype=[float, float, float, str],
               units=[u.MHz, None, u.d, None])

table.add_row([0.185*u.GHz, 60100.00, 10*u.s, 'MWA'])
table.write('toas.escv', format="ascii.ecsv", overwrite=True)</code></pre>
    </details>

    <p>As shown in the example above, the units for the <code>freq</code> and <code>ToA_err</code> must be <i>equivalent</i> to inverse-time and time (respectively), but they do not have to <i>be</i> <b>MHz</b> and <b>d</b>. The <code>ToA</code> column <i>must</i> be <code>None</code> and must be given in MJD.</p>

    <p>Some extra columns are supported: <code>fluence</code> (units equivalent to <b>Jy s</b>) and <code>fitted_peak_flux_density</code> (units equivalent to <b>Jy</b>). If these are present, the values in those columns will also be uploaded to the database (even though there is currently no way to <i>use</i> this information on the website itself).</p>

    <hr>

    <h1 id="generate-toas">Generating ToA predictions from the command line</h1>

    <details style="border: 1px solid black; padding: 3px;">
      <summary>Example script for getting ToA predictions</summary>
      <pre style="border: 1px solid black; padding: 3px;"><code>import requests
import argparse

token = ... # Your token goes here (go to Settings)
url = "https://lpt.mwa-image-plane.cloud.edu.au/data/api/get_toa_predictions_json"

# Set up headers with the Authorization token
headers = {
    "Authorization": f"Token {token}",
    "Accept": "application/json",
}

params = {
    "lpt":               "GPM J1839-10",
    "start":             60000.5,
    "end":               60001.5,
    "freq_MHz":          200,
    "telescope":         "MWA",
    "input_date_format": "mjd",
    "output_toa_format": "gps",
    "min_el":            45, # degrees
    "max_sun_el":        30, # degrees
}

response = requests.get(url, headers=headers, params=params)

if response.status_code != 200:
    print(response.json()['message'])
    exit(1)

toas = response.json()
print(toas)</code></pre>
    </details>

  </div>
</div>

<style>
#main-container {
  display: flex;
  flex-direction: row;
}
.sitemap {
  max-width: 300px;
  width: 70vw;
}
.sitemap ul {
  list-style-type: "— ";
}
.sitemap a {
  text-decoration: none;
}
.sitemap a:hover {
  color:
}
.content {
  padding: 10px;
}
.content h1, .content h2, .content h3, .content h4, .content h5 {
  margin: 30px 0px 10px;
}
@media (max-width: 768px) {
  #main-container {
    flex-direction: column;
  }
  .sitemap {
    width: 100%;
    max-width: none;
  }
}
</style>

{% endblock %}
