{% extends 'published/main.html' %}

{% load static %}

{% block body %}

<h1 class="visually-hidden">LPT parameters</h1>

<p>
    Choose a parameter set:
    <ul>
        {% for parameter_set in parameter_sets %}
        <li><a href="{% url 'parameter_set_table_view' pk=parameter_set.pk %}">{{ parameter_set }}</a></li>
        {% endfor %}
    </ul>
</p>

<table class="table">
    <tr>
        <th>LPT</th>
        <th>Progenitor</th>
        {% for parameter in parameters %}
        <th>
            {{ parameter.name }}
            {% if parameter.unicode_unit %}
            <br>
            ({{ parameter.unicode_unit }})
            {% endif %}
        </th>
        {% endfor %}
    </tr>
    {% for ulp, parameters in rows.items %}
    <tr>
        <td><a href="{% url 'ulp' pk=ulp.pk %}">{{ ulp }}</a></td>
        <td>{{ ulp.best_progenitor_claim|default:'' }}</td>
        {% for parameter, measurement in parameters.items %}
        <td>{{ measurement.formatted_quantity }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
