{% extends 'published/main.html' %}

{% load static %}

{% block body %}

<div class="container-fluid">
    <h1 class="visually-hidden">P-Ṗ Diagram</h1>
    <div class="row gx-5 gy-5">
        <div class="col-md-6">
            <div id="ppdot-plot"></div>
        </div>
        <div class="col-md-6">
            <h2>Plot settings</h2>
            <form>
                {% csrf_token %}
                <div class="mb-3">
                    <div class="form-check">
                        <input type=checkbox class="form-check-input" id="mcgill" name="mcgill" {% if import_mcgill %}checked{% endif %}/>
                        <label for="mcgill" class="form-check-label">Display McGill magnetar catalogue</label></br>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update plot</button>
            </form>
        </div>
    </div>
</div>

<script src="https://d3js.org/d3.v4.js"></script>
<script>
    // set the dimensions and margins of the graph
    var margin = {top: 10, right: 50, bottom: 50, left: 80},
        width = 800 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#ppdot-plot")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // Add axis labels
    svg.append("text")
        .attr("class", "x label")
        .attr("text-anchor", "middle")
        .attr("x", width/2)
        .attr("y", height + margin.top + margin.bottom/2)
        .text("Period (s)")
        .attr("fill", "var(--bs-body-color)");
    svg.append("text")
        .attr("class", "y label")
        .attr("transform", "rotate(-90)")
        .attr("text-anchor", "middle")
        .attr("y", -0.75*margin.left)
        .attr("x", -margin.top - height/2)
        .text("Period derivative (s/s)")
        .attr("fill", "var(--bs-body-color)");

    // Add X axis
    var x = d3.scaleLog()
        .domain([5e-4, 1e5])
        .range([ 0, width ]);
    var xaxis = svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));
    xaxis.selectAll("text")
        .style("fill", "var(--bs-body-color)");
    xaxis.selectAll("path")
        .style("stroke", "var(--bs-body-color)");
    xaxis.selectAll("line")
        .style("stroke", "var(--bs-body-color)");

    // Add Y axis
    var y = d3.scaleLog()
        .domain([1e-22, 1e-7])
        .range([ height, 0]);
    var yaxis = svg.append("g")
        .call(d3.axisLeft(y));
    yaxis.selectAll("text")
        .style("fill", "var(--bs-body-color)");
    yaxis.selectAll("path")
        .style("stroke", "var(--bs-body-color)");
    yaxis.selectAll("line")
        .style("stroke", "var(--bs-body-color)");

    function ulp_link(d) {
        return "{% url 'ulp' pk=1 %}".replace(/1$/, d.id) // Dirty hack to form the right url
    }

    function plot_dataset(url, color, link_function) {

        // Get data from ulp database
        d3.json(url, function(data) {

            g = svg.append('g')
            const circle = d3.symbol();

            // Add links
            if (link_function !== "") {
                g.selectAll("dot")
                    .data(data)
                    .enter()
                    .append("a")
                    .attr("xlink:href", (d) => link_function(d))
                    .append("path")
                    .attr("d", d3.symbol().size(20))
                    .attr("transform", (d) => "translate(" + (d.P ? x(d.P) : x(1e-100)) + "," + (d.Pdot ? y(d.Pdot) : y(1e100)) + ")")
                    .style("fill", color)
                    .append("title")
                    .text((d) => d.name);
                    //.attr("d", (d) => d3.symbol().type(d.radio ? d3.symbolCircle : d3.symbolStar).size(20)) // <-- Try to figure out how to change the symbol by whether it's a radio source or not. Functions of (d) don't seem to work...
            } else {

                // Add points
                g.selectAll("dot")
                    .data(data)
                    .enter()
                    .append("path")
                    .attr("d", d3.symbol().size(20))
                    .attr("transform", (d) => "translate(" + (d.P ? x(d.P) : x(1e-100)) + "," + (d.Pdot ? y(d.Pdot) : y(1e100)) + ")")
                    .style("fill", color)
                    .append("title")
                    .text((d) => d.name);
            }

            // Add Pdot error bars
            g.selectAll("Pdot_err")
                .data(data)
                .enter()
                .append("path")
                .attr("d", (d) => d.Pdot_err > 0 ?
                    " M " + x(d.P) + "," + y(d.Pdot) +
                    " L " + x(d.P) + "," + y(d.Pdot - d.Pdot_err) +
                    " M " + x(d.P) + "," + y(d.Pdot) +
                    " L " + x(d.P) + "," + y(d.Pdot + d.Pdot_err)
                    : "M 0,0")
                .style("stroke", color)
                .style("stroke-width", "2");

            // Add Pdot upper limits
            svg.append('g')
                .selectAll("upper_limits")
                .data(data)
                .enter()
                .append("path")
                .attr("d", (d) => d.Pdot__upper_limit === true ? "M " + x(d.P) + "," + y(d.Pdot) + " m -1,0 l 0,10 l -3,0 l 4,8 l 4,-8 l -3,0 l 0,-10 Z" : "M 0,0")
                .style("fill", color);

        });
    }

    plot_dataset("{% url 'table_data' pk=1 %}", "#d090f8", ulp_link);
    plot_dataset("{% url 'psrcat_data' %}", "#b8d8be", "");
    {% if import_mcgill %}
    plot_dataset("{% url 'mcgill_data' %}", "#c0c0ff", (d) => "https://www.physics.mcgill.ca/~pulsar/magnetar/main.html");
    {% endif %}

</script>

{% endblock%}
