{% extends 'published/main.html' %}

{% load static %}

{% block body %}

<h1>{{ ulp }}</h1>

{% if published_toas_exist %}
<div>
  <form action="{% url 'download_times_of_arrival' pk=ulp.pk %}">
    {% csrf_token %}
    <select id="tim_format" name="tim_format">
      <option value="1" selected required>FORMAT 1</option>
    </select>
    <input hidden name="only_published" value="1"/>
    <input type="submit" value="Download published ToAs from this website">
  </form>
</div>
{% endif %}

{% if articles %}
<ul>
  {% for article in articles %}
  {% if article.toa_url or article.eph_url %}
  <li>
    <a href="{{ article.doi_url }}" target="_blank">{{ article.citet_text }}</a>:
    {% if article.toa_url == article.eph_url %}
    <a href="{{ article.toa_url }}" target="_blank">ToAs and ephemeris</a>
    {% elif not article.eph_url %}
    <a href="{{ article.toa_url }}" target="_blank">ToAs</a>
    {% elif not article.toa_url %}
    <a href="{{ article.eph_url }}" target="_blank">Ephemeris</a>
    {% else %}
    <a href="{{ article.toa_url }}" target="_blank">ToAs</a>, <a href="{{ article.eph_url }}" target="_blank">ephemeris</a>
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}

{% if eph_articles %}
<h2>Link(s) to original ephemerides</h2>
<ul>
  {% for eph_article in eph_articles %}
  <li><a href="{{ eph_article.eph_url }}">{{ eph_article.citet_text }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<table class="table">
    <tr>
        <th>Parameter</th>
        <th>Value</th>
        <th>Frequency</th>
        <th>Reference</th>
    </tr>
    {% for progenitor_claim in ulp.progenitor_claims.all %}
    <tr>
        <td>Progenitor</td>
        <td>{{ progenitor_claim }}</td>
        <td>-</td>
        <td>{% if progenitor_claim.article.doi %}<a href="https://doi.org/{{ progenitor_claim.article.doi }}">{{ progenitor_claim.article }}</a>{% else %}{{ progenitor_claim.article }}{% endif %}</td>
    </tr>
    {% endfor %}
    {% for measurement in measurements.all %}
    <tr>
        <td>{{ measurement.parameter }}</td>
        <td>{{ measurement.formatted_quantity_with_units }}</td>
        <td>{% if measurement.freq_ctr != None %}{{ measurement.freq_ctr }} {{ measurement.freq_astropy_units }}{% endif %}</td>
	<td>{% if measurement.article.doi %}<a href="https://doi.org/{{ measurement.article.doi }}">{{ measurement.article }}</a>{% else %}{{ measurement.article }}{% endif %}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
