{% extends 'published/main.html' %}

{% load static %}

{% block body %}

<h1>Settings</h1>

<form method="post">
  {% csrf_token %}
  <div>
    <label for="site-theme">Theme:</label>
    <select id="site_theme" name='site_theme'>
      {% for site_theme in request.user.setting.SITE_THEMES %}
      <option value='{{ site_theme.0 }}' {% if request.user.setting.site_theme == site_theme.0 %}selected{% endif %}>{{ site_theme.1 }}</option>
      {% endfor %}
    </select>
  </div>

  <input type="submit" class="btn btn-primary" value="Save"/>
</form>

{% endblock %}
