:root {
    --font-size: 10px;
    --black: #000;
    --body-black: #051c2a;
    --text-color: #4b4b4b;
    --black--bg: #191919;
    --blue--lightest: #caecf7;
    --blue: #1473ab;
    --blue--dark: #004b8b;
    --blue--link: #116191;
    --blue--portal: #22547c;
    --brown: #503110;
    --gap-element: 3rem;
    --gap-larger: 4rem;
    --gap-largest: 3.6rem;
    --gray--lightest: #f7f7f7;
    --gray--lighter: #f0f0f0;
    --gray--light: #e8e8e8;
    --gray: #b3b3b3;
    --gray--dark: #717171;
    --gray--darker: #4b4b4b;
    --gray--darkest: #303030;
    --gray--bg: #f7f7f7;
    --color-apple: #1de57e;
    --color-apple--light: #ddfbec;
    --color-lime: #c3d82e;
    --color-kiwi: #57d897;
    --color-banana: #fff3a8;
    --color-banana--light: #fbf4cf;
    --color-strawberry: #ff615e;
    --color-strawberry--light: #ffefef;
    --color-magenta: #e52592;
    --color-magenta-light: #fdeaf5;
    --color-magenta-dark: #ca2381;
    --color-lilac: #eeeafd;
    --color-deep-blue: #5525e5;
    --color-deep-blue--light: #f1eefd;
    --fuchsia: #9b0664;
    --red: #af1800;
    --purple: #636;
    --yellow: #ffc000;
    --white: #fff;
    --facebook: #3c5193;
    --msngr: #009eff;
    --linkedin: #0077b5;
    --twitter: #37a7df;
    --youtube: #cc181e;
    --error: #ffecec;
    --success: #e9ffd9;
    --video-size: 740px;
    --gap-half: 10px;
    font-size: var(--font-size,10px)
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    line-height: 1.15
}

body {
    margin: 0;
}

body,html {
    background-color: var(--black--bg);
    color: var(--gray--lighter);
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh
}

table.parameter-set {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 20px auto;
    table-layout: fixed;
}

table.parameter-set th, td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

table.parameter-set td, th {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

table.parameter-set tr.disabled {
    opacity: 0.4;
}

table.parameter-set tr:nth-child(even), tr:nth-child(even) button, tr:nth-child(even) input {
    background-color: #f2f2f2;
}

table.parameter-set tr:nth-child(odd), tr:nth-child(odd) button, tr:nth-child(odd) input {
    background-color: #fff;
}

table.parameter-set tr:hover, .btn-fa:hover, tr:hover button, tr:hover input {
    background-color: #ddd;
}

table.parameter-set th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4C50AF;
    color: white;
}

.login-form {
    width: 500px;
    max-width: 100%;
    margin: 50px auto;
    padding: 30px;
    background-color: #ccc;
}

.login-form table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.login-form td {
    background-color: #ccc;
    border: 0;
}

.login-form #login-button {
    border: 0;
    padding: 10px;
    margin: 5px 5px auto;
    cursor: pointer;
}

.galactic-map-container {
    display: flex;
}

.galactic-map-settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.galactic-map {
    position: relative;
    display: inline-block; /* shrinks container to image size */
    width: 800px;
    max-width: 90%;
}

.galactic-map img {
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(75%);
}

.galactic-map svg {
    position: absolute;
    top: 0;
    left: 0;
}

select {
    /*appearance: none;*/
    color: inherit;
    background-color: inherit;
    padding: 0.7em;
    font-size: 1.5rem;
}

option {
    color: inherit;
    background-color: inherit;
}

.navbar {
    display: flex;
    background-color: var(--black--bg);
    color: white;
}

.navmenu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 43px;
}

.navmenu-item {
    /*font-size: 20px;*/
    /*font-family: sans-serif;*/
    /*font-weight: normal;*/
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--black--bg);
    color: white;
}

.navmenu-item:hover {
    background-color: #444;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
}

.navbar-item {
    /*font-size: 20px;*/
    /*font-family: sans-serif;*/
    /*font-weight: normal;*/
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
}

/* From: https://a11y-guidelines.orange.com/en/articles/accessible-hiding/ */
.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
